.mynavbar {
    background-color: #007bff; /* Bootstrap primary blue */
  }
  .navbar-dark .navbar-nav .nav-link {
    color: white;
  }
  .navbar-dark .navbar-nav .nav-link:hover {
    background-color: #0056b3; /* A darker shade of blue for hover */
  }

  .mybutton {
    background-color: #0056b3;
    border: none;
    border-radius: 50%;
    bottom: 30px;
    color: white;
    height: 60px;
    position: fixed;
    right: 30px;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    width: 60px;
}

.progress-bar {
  background-color: #007bff;
  height: 20px;
  border-radius: 2px;
  color: white;
  text-align: center;
  transition: width 0.6s ease;
  overflow: hidden; /* Aggiunto overflow per evitare testo che fuoriesce dalla barra */
}

.raccolte_terminate_successo{color:green}
.raccolte_terminate_fallita{color:red}