{% extends "base.html" %}
{% block title %}Chi siamo{% endblock %}
{% block about_active %}active{% endblock %}
{% block page_name%}Chi siamo{%endblock%}

{%block content%}
<div class="container d-flex justify-content-center align-items-center">
    <div class="row">
        <div class="col-12">
    <div class="card" style="width: 18rem;">
        <img src="{{ url_for('static', filename= picture) }}" class="card-img-top" alt="immagine dell'autore">
        <div class="card-body">
        <h5 class="card-title">Mattia Antonini</h5>
        <p class="card-text">Mattia Antonini è uno studente di ingegneria fisica del Politecnico di Torino. Attualmente è in procinto di laurearsi
            e di proseguire i suoi studi con il corso di laurea magistrale "Physics of complex systems" offerto dallo stesso Politecnico.</p>
        </div>
    </div>
    </div>
    </div>  
</div>

{% endblock %}