{% extends "base.html" %}
{% block title %}Le mie donazioni{% endblock %}
{% block le_mie_raccolte_active %}active{% endblock %}
{% block page_name%}Il mio profilo{%endblock%}

<!--Nella pagina l'utente può visualizzare tutte le sue raccolte in corso o terminate ed eventualmente
aggiungerle o rimuoverle. Viene visualizzato anche il totale raccolta dalle proprie donazioni
che è consultabile nella colonna "portafoglio" nella tabella utente -->
<!--Vengono visualizzate anche tutte le donazioni effettuate-->

{%block content%}
{% endblock %}