{% extends "base.html" %}
{% block title %}Singola raccolta{% endblock %}
{% block home_active %}active{% endblock %}
{% block page_name%}{{raccolta.nome_raccolta}}{%endblock%}

<!--Nella pagina l'utente può visualizzare il pulsante per donare alla raccolta fondi selezionata
(form di tipo modal) e in una sezione apposita. le donazioni degli altri utenti -->

{%block content%}

<main class="col-lg-9 col-md-12">

<div class="container">
    <div class="row">
        <div class="col-3">
            <!--3 colonne lasciate vuote a sinistra, si potrebbe aggiungere sidebar-->
        </div>
        <div class="col-9">
            <p>Questa è la pagina della raccolta "{{raccolta.nome_raccolta | e}}"</p>
            <p>Autore della raccolta: {{raccolta.nome}} {{raccolta.cognome}}</p>
            <p>Descrizione: {{raccolta.descrizione | e}}</p>
            <p>Raccolte iniziata il: {{raccolta.data_creazione | e}} - Termina il: {{raccolta.data_termine | e}}</p>
            <p>Totale raccolto: {{raccolta.cifra_attuale | e}} € / {{raccolta.cifra_da_raggiungere | e}} €</p>
            <div class="progress-bar" style="width:{{ 100 * (raccolta.cifra_attuale|int) / (raccolta.cifra_da_raggiungere|int) }}%;">
              {{ 100 * (raccolta.cifra_attuale|int) / (raccolta.cifra_da_raggiungere|int) }}%
            </div>
            
            <h3>Donazioni:</h3>
            {% if current_user.is_authenticated %}

            <!--Pulsante per effettuare una donazione-->

            <button type="button" class="mybutton" data-bs-toggle="modal" data-bs-target="#createModal">
                +
              </button>
              <div class="modal fade" id="createModal" tabindex="-1">
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5">Effettua una donazione</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form action="/donazioni/new" method="POST" enctype="multipart/form-data">
                      <div class="modal-body">
                        <div class="mb-3">
                          <label for="donazioneTextArea" class="form-label">Vuoi aggiungere un messaggio?</label>
                          <textarea class="form-control" id="donazioneTextArea" name="testo_donazione" rows="3"
                            placeholder="Inserisci un testo per la tua donazione"></textarea>
                        </div>
                        <div class="input-group mb-3">
                            <label for="importo_donazioneInput" class="form-label mb-2">Importo della donazione</label>
                            <span class="input-group-text">€</span>
                            <input type="number" class="form-control" id="importo_donazioneInput" name="importo" aria-label="Cifra da raggiungere" min="{{raccolta.importo_minimo|int}}" required>
                          </div>
                      </div>
                      <div class="mb-3 form-check">
                        <label class="form-check-label" for="anonimo_checkbox">Anonimo</label>
                        <input type="checkbox" class="form-check-input" id="anonimo_checkbox" name="utente_anonimo">
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Chiudi</button>
                        <button type="submit" class="btn btn-primary">Effettua donazione</button>
                      </div>
                      <input type="number" name="id_raccolta" value="{{ raccolta.id_raccolta }}" hidden>
                    </form>
                  </div>
                </div>
              </div>

              <!--Qui verranno visualizzate tutte le varie donazioni-->

              <main class="col-lg-9 col-md-12">
                {% for donazione in donazioni %}
                <div class="card mb-3" style="max-width: 540px;">
                  <div class="row g-0">
                    <div class="col-md-8">
                      <div class="card-body">
                        <!--se l'utente non è anonimo mostra nome e cognome-->
                        {% if donazione.donatore != NULL%}
                        <h5 class="card-title"> 
                            Donatore: {{donazione.nome | e}} {{donazione.cognome | e}}
                        </h5>
                        {% else %}
                        <h5 class="card-title"> 
                          Donatore: utente anonimo
                      </h5>
                      {% endif %}
                        <p class="card-text">{{donazione.testo_donazione}}</p>
                        <p class="card-text">Importo donazione: {{donazione.importo | e}} €</p>
                        <p class="card-text">Data donazione: {{donazione.data_donazione | e}}</p>
                        
                      </div>
                    </div>
                  </div>
                </div>
                {% endfor %}

            {% else %}
            <div class="alert alert-primary" role="alert">
                Devi essere autenticato per effettuare e visualizzare donazioni 
            </div>
            {% endif %}

        </div>
    </div>
</class>

</main>
{% endblock %}